<%= form_with model: [:admin, composer], local: true do |f| %>
  <div class="form-group col mt-4">
    <%= f.label :name, "作曲者名"%><br>
    <%= f.text_field :name %>
  </div>
  <div style="text-align: right;">
    <%= f.submit '作曲者名登録', class: 'btn btn-create' %>
  </div>
<% end %>