<div class="row">
  <h2 class="col-12 admin-title">作曲者一覧</h2>
</div>
<div class="row w-75 mx-auto">
  <div class="col w-75 mx-auto">
    <% @composers.each do |composer| %>
      <div class="row" style="margin: 2.5px 0;">
        <div class="col">
          <%= composer.name %>
        </div>
        <div class="col">
          <%= link_to '削除', admin_composer_path(composer), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-destroy' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'admin/composers/form', composer: @composer %>
</div>