<div class="row">
  <h2 class="col-12 admin-title">編集画面</h2>
</div>
<div class="row w-75 mx-auto">
  <div class="col w-75 mx-auto">
    <%= render 'form', song: @song, genres: @genres, composers: @composers %>
  </div>
</div>