<div class="container pb-4">
  <div class="row mb-5">
    <div class="w-75 mx-auto">
      <div class="col w-75 mx-auto">
      </div>
      <div class="col w-75 mx-auto">
        <div>
          <%= render 'form', song: @song, genres: @genres, composers: @composers %>
        </div>
      </div>
    </div>
  </div>
</div>