<div class="col w-75 mx-auto">
  <% users.each do |user| %>
    <div>
      <%= link_to user_path(user) do %>
        <%= image_tag user.get_profile_image, size: '50x50' %>
        <%= user.name %>
      <% end %>
    </div>
  <% end %>
</div>