<div class="row">
  <h2 class="col-12 admin-title">ジャンル一覧</h2>
</div>
<div class="row w-75 mx-auto">
  <div class="col w-75 mx-auto">
    <% @genres.each do |genre| %>
      <div class="row" style="margin: 2.5px 0;">
        <div class="col">
          <%= genre.name %>
        </div>
        <div class="col">
          <%= link_to '削除', admin_genre_path(genre), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-destroy' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'admin/genres/form', genre: @genre %>
</div>