@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
}

.container {
  margin: 0;
}

.side {
  border-right: solid 2px gray;
  padding: 0;
  // height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  display: inline-block;
  width: 50px;
  height: 14.28vh;
  color: #7ed957;
}

.side-menu {
  position: sticky;
  top: 40px;
}

.side-bar {
  width: 100%;
  height: 100%;
}

.back {
  background-size: contain;
  background-repeat:  no-repeat;
  height: 600px;
  width: 100%;
}

// ボタンの設定
.btn-create {
  background: #7ed957;
  color: #ffffff;
  border: 1px solid #478384;
}

.btn-create:hover, .btn-create:focus,
.btn-create:active, .btn-create:active:focus, .btn-create:active:hover, .btn-create:active.focus,
.btn-create.active, .btn-create.active:focus, .btn-create.active:hover, .btn-create.active.focus,
.open > .dropdown-toggle.btn-create,
.open > .dropdown-toggle.btn-create:hover,
.open > .dropdown-toggle.btn-create:focus,
.open > .dropdown-toggle.btn-create.focus,
.btn-create.disabled:hover, .btn-create[disabled]:hover, fieldset[disabled] .btn-create:hover,
.btn-create.disabled:focus, .btn-create[disabled]:focus, fieldset[disabled] .btn-create:focus,
.btn-create.disabled.focus, .btn-create[disabled].focus, fieldset[disabled] .btn-create.focus {
  background: #7fff00;
  color: #ffffff;
  border: 1px solid #43676b;
}

.btn-edit {
  background: #fff352;
  color: #ffffff;
  border: 1px solid #478384;
}

.btn-edit:hover, .btn-edit:focus,
.btn-edit:active, .btn-edit:active:focus, .btn-edit:active:hover, .btn-edit:active.focus,
.btn-edit.active, .btn-edit.active:focus, .btn-edit.active:hover, .btn-edit.active.focus,
.open > .dropdown-toggle.btn-edit,
.open > .dropdown-toggle.btn-edit:hover,
.open > .dropdown-toggle.btn-edit:focus,
.open > .dropdown-toggle.btn-edit.focus,
.btn-edit.disabled:hover, .btn-edit[disabled]:hover, fieldset[disabled] .btn-edit:hover,
.btn-edit.disabled:focus, .btn-edit[disabled]:focus, fieldset[disabled] .btn-edit:focus,
.btn-edit.disabled.focus, .btn-edit[disabled].focus, fieldset[disabled] .btn-edit.focus {
  background: #ffcc00;
  color: #ffffff;
  border: 1px solid #43676b;
}

.btn-destroy {
  background: #999;
  color: #ffffff;
  border: 1px solid #478384;
}

.btn-destroy:hover, .btn-destroy:focus,
.btn-destroy:active, .btn-destroy:active:focus, .btn-destroy:active:hover, .btn-destroy:active.focus,
.btn-destroy.active, .btn-destroy.active:focus, .btn-destroy.active:hover, .btn-destroy.active.focus,
.open > .dropdown-toggle.btn-destroy,
.open > .dropdown-toggle.btn-destroy:hover,
.open > .dropdown-toggle.btn-destroy:focus,
.open > .dropdown-toggle.btn-destroy.focus,
.btn-destroy.disabled:hover, .btn-destroy[disabled]:hover, fieldset[disabled] .btn-destroy:hover,
.btn-destroy.disabled:focus, .btn-destroy[disabled]:focus, fieldset[disabled] .btn-destroy:focus,
.btn-destroy.disabled.focus, .btn-destroy[disabled].focus, fieldset[disabled] .btn-destroy.focus {
  background: #666;
  color: #ffffff;
  border: 1px solid #43676b;
}

.btn-admin {
  background: #fff;
  color: #6666ff;
  border: 1px solid #7ed957;
  height: 100px;
}

.btn-admin:hover, .btn-admin:focus,
.btn-admin:active, .btn-admin:active:focus, .btn-admin:active:hover, .btn-admin:active.focus,
.btn-admin.active, .btn-admin.active:focus, .btn-admin.active:hover, .btn-admin.active.focus,
.open > .dropdown-toggle.btn-admin,
.open > .dropdown-toggle.btn-admin:hover,
.open > .dropdown-toggle.btn-admin:focus,
.open > .dropdown-toggle.btn-admin.focus,
.btn-admin.disabled:hover, .btn-admin[disabled]:hover, fieldset[disabled] .btn-admin:hover,
.btn-admin.disabled:focus, .btn-admin[disabled]:focus, fieldset[disabled] .btn-admin:focus,
.btn-admin.disabled.focus, .btn-admin[disabled].focus, fieldset[disabled] .btn-admin.focus {
  background: #f4f4f4;
  color: #6666ff;
  border: 2px solid #7fff00;
}

.heading {
  margin-top: 100px;
}

.heading-text {
  font-size: 55px;
}

.top-btn {
  text-align: center;
}

.login-text {
  margin-top: 20px;
}

.search-form {
  border-left: solid 2px gray;
}

.profile-content {
  padding: 5px 0 5px;
  background-color: #efffe0;
  border-bottom: solid 2px gray;
}

.profile-image {
  border-radius: 50%;
  border: solid 2.5px #7ed957;
}

.post-content {
  border-bottom: solid 2px gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-content:last-child {
  border: none;
}

.my-post {
  padding: 5px 0 5px 10px;
  border-bottom: solid 2px gray;
}

.my-post-item {
  padding-bottom: 5px;
}

.post-comment {
  padding: 5px;
  border-radius: 10px;
}

.admin-login {
  text-align: center;
}

.user-login {
  text-align: center;
}

.admin-title {
  font-size: 50px;
  padding: 15px 0 15px 15px;
  border-bottom: solid 1px gray;
  margin-bottom: 0;
}

.search-profile-image {
  border-radius: 10px 10px 0 0;
}