<div style="display: flex; flex-wrap: wrap;">
  <% users.each do |user| %>
    <div style="border: solid 0.5px gray; border-radius: 5%; margin-right: 40px; margin-top: 5px">
      <%= link_to admin_user_path(user) do %>
        <%= image_tag user.get_profile_image, size: '100x100', class: 'profile-image' %><br>
        <%= user.name %>
      <% end %>
    </div>
  <% end %>
</div>