<div class="col w-75 mx-auto">
  <% posts.each do |post| %>
    <div>
      <%= link_to post_path(post) do %>
        <%= image_tag post.image, size: '200x200' %>
        <span>
          <%= post.title %>
          <%= post.body %>
        </span>
      <% end %>
    </div>
  <% end %>
</div>